:root {
    font-size: 20px; /* ルート要素のフォントサイズ */
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center; /* 全て中央寄せ */
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; /* h1はルート要素の2倍 */
    letter-spacing: 1.2em; /* 文字間の設定 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* h1の影 */
    border-bottom: 3px solid rgb(115, 115, 114); /* 下線 */
}

.skyblue {
    color: skyblue; /* skyblueの色 */
}

.pink {
    color: rgb(255, 192, 203); /* Pの色 */
}

h2 {
    color: rgb(255, 192, 203); /* デフォルトのh2の色 */
}

#basic {
    text-align: center; /* 中央寄せ（id属性basicのdivタグ） */
}

#basic p {
    font-weight: bold; /* 太字（指定した要素のみ） */
}

#basic p:not(.bold) {
    font-weight: normal; /* その他のp要素は太字にしない */
}
