body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
    font-size: 20px; /* ルート要素のフォントサイズ */
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px; /* h1は20pxの2倍 */
    letter-spacing: 1.2em; /* 文字間の設定 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* h1の影 */
    border-bottom: 3px solid rgb(115, 115, 114); /* 下線 */
}

.skyblue {
    color: skyblue; /* Mの色 */
}

.pink {
    color: rgb(255, 192, 203); /* Pの色 */
}

h2 {
    color: rgb(255, 192, 203); /* デフォルトのh2の色 */
}

#basic h2:nth-of-type(1),
#basic h2:nth-of-type(3),
#basic h2:nth-of-type(5) {
    color: rgb(255, 192, 203); /* 名前、血液型、好きな食べ物のh2の色 */
}

#basic h2:nth-of-type(2),
#basic h2:nth-of-type(4),
#basic h2:nth-of-type(6) {
    color: skyblue; /* 生年月日、趣味、プログラミングを始めた理由のh2の色 */
}

#basic p strong {
    font-weight: bold; /* 太字 */
}
